form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="file"],
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50vh;
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.collumn{
    display: flex;
    flex-direction: column;
}
.card{
        border: solid 1px rgb(180, 180, 180);
        padding:4vh;
        border-radius: 5px;
        box-shadow: 0 4px 10px 0 rgb(175, 175, 175);
}