<app-nav-bar  [parametroMenu]="'Home'"></app-nav-bar>
<app-side-bar [parametroSideMenu]="'Home'"></app-side-bar>
<div class="container">
    <p *ngIf="data">Bienvenido{{data.name}}</p>
    <table *ngIf="data.type ==='student'">
        <thead>
            <tr>
                <th>ID</th>
                <th>Estudiante</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tarea</th>
                <th>Fecha de entrega</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; let i = index">
                <td>{{ i+1}}</td>
                <td>{{ task.student }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.completed }}</td>
                <td>{{ task.date }}</td>
            </tr>
        </tbody>
    </table>
        <table *ngIf="data.type ==='teacher'">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estudiante</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Tarea</th>
                    <th>Fecha de entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of allTask; let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{ task.student }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.completed }}</td>
                    <td>{{ task.date }}</td>
                </tr>
            </tbody>
        </table>
</div>